/* $H: 
$S:
$L: 
 */
/* // bg sub color
$c-bg-sub: ;

// bg extra
$c-bg-ext: ;

// font-color
$c-font: ;  */
body {
  font-family: 'Kalam', cursive;
}

.time,
.record-item {
  font-family: 'Courier Prime', monospace;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6rem;
}

body * {
  font-family: inherit;
}

#app {
  display: grid;
  grid-gap: .8rem;
  width: 20em;
  background-color: rgba(128, 128, 128, 0.05);
  text-align: center;
}

#app p {
  margin: 0.625rem 0;
}

#app h4 {
  color: rgba(0, 0, 0, 0.75);
  font-weight: unset;
  margin: 0.625rem 0;
}

#app address {
  font-family: initial;
  border-radius: .5rem;
  background-color: rgba(128, 128, 128, 0.05);
  color: rgba(0, 0, 0, 0.5);
  font-size: small;
}

#app address * {
  display: block;
}

#app a {
  text-decoration: none;
}

#app :link {
  color: inherit;
}

#app :visited {
  color: inherit;
}

#record {
  display: flex;
  flex-direction: column;
}

#record ol {
  padding: 0;
}

#record p {
  margin: 0.3125rem 0;
}

#record .record-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  place-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

#record .record-item-date {
  color: rgba(0, 0, 0, 0.5);
}

#record .record-item-remove {
  cursor: pointer;
  color: white;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  text-align: center;
  padding: 0;
  border-style: none;
  vertical-align: middle;
}

#record-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#record-total #givenDay {
  border-style: none;
  text-align: center;
  border-radius: .5em;
  background-color: rgba(128, 128, 128, 0.25);
}

#record .total-sum {
  font-size: medium;
}

.time-cont {
  display: flex;
  justify-content: space-between;
}

#app #app[theme=dark] {
  color: rgba(255, 255, 255, 0.75);
}
